#### Ryan Gilbert
#### CMP 262-56145
#### Final Project

# Objective: Begin the data analysis process of your final project by collecting your data and doing some initial exploratory analysis.

## Importing Pandas

In [1]:
import pandas as pd

### Using Pandas to read the CSV file then converting to a dataframe

In [2]:
df = pd.read_csv("ISPP_School_Summary.csv")

### Getting an initial look at the unedited Data Frame.

In [3]:
df.head()

,Reporting_Year,School_Code,School_Name,District_Code,District_Name,AEA_Name,Grade_Range,School_Type,School_Index,School_Rating_Category,...,Index_EL,Index_FRL,Index_IEP,Index_Asian,Index_Black,Index_PacIs,Index_Hispanic,Index_Multi,Index_NatAm,Index_White
0,2022-2023,90109,AGWSR High School,9,AGWSR Comm School District,Central Rivers AEA,"(09, 10, 11, 12)",High,56.36,Commendable,...,NaN,53.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.60
1,2022-2023,90172,AGWSR Middle School,9,AGWSR Comm School District,Central Rivers AEA,"(06, 07, 08)",Middle,57.25,Commendable,...,NaN,55.70,48.63,NaN,NaN,NaN,NaN,NaN,NaN,57.86
2,2022-2023,90409,AGWSR Elementary School,9,AGWSR Comm School District,Central Rivers AEA,"(KG, 01, 02, 03, 04, 05)",Elementary,67.32,Exceptional,...,NaN,62.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.90
3,2022-2023,90427,The Cougars Den,9,AGWSR Comm School District,Central Rivers AEA,(KG),Elementary,67.32,Exceptional,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-2023,90436,AGWSR Elementary at Wellsburg,9,AGWSR Comm School District,Central Rivers AEA,"(KG, 01, 02)",Elementary,67.32,Exceptional,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.tail()

,Reporting_Year,School_Code,School_Name,District_Code,District_Name,AEA_Name,Grade_Range,School_Type,School_Index,School_Rating_Category,...,Index_EL,Index_FRL,Index_IEP,Index_Asian,Index_Black,Index_PacIs,Index_Hispanic,Index_Multi,Index_NatAm,Index_White
1290,2022-2023,71100118,Woodward Academy,7110,Woodward-Granger Comm School District,Heartland AEA,"(07, 08, 09, 10, 11, 12)",Treatment Facilities,54.62,Acceptable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1291,2022-2023,71100409,Woodward-Granger Middle School,7110,Woodward-Granger Comm School District,Heartland AEA,"(06, 07, 08)",Middle,55.65,Commendable,...,NaN,48.03,44.74,NaN,NaN,NaN,NaN,NaN,NaN,55.90
1292,2022-2023,71100418,Woodward-Granger Elementary School,7110,Woodward-Granger Comm School District,Heartland AEA,"(02, 03, 04, 05)",Elementary,61.65,High Performing,...,NaN,57.24,54.55,NaN,NaN,NaN,NaN,NaN,NaN,61.52
1293,2022-2023,71100427,Woodward-Granger Early Learning Center,7110,Woodward-Granger Comm School District,Heartland AEA,"(KG, 01)",Elementary,61.65,High Performing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1294,2022-2023,81000101,Choice Charter School,8100,Choice Charter Schools,Central Rivers AEA,"(09, 10, 11, 12)",Charter,49.85,Acceptable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### There is a decent amount of information here. The Reporting Year can likely be removed as can the data year because I only pulled the 2022-2023 Academic Year data, so those columns should contain all of the same data. In the next Jupyter Notebook, the number of columns will be reduced/consolidated based on the Data Questions.

### Getting a list of all of the Columns included in this Dataset.

In [5]:
df.columns

Index(['Reporting_Year', 'School_Code', 'School_Name', 'District_Code',
       'District_Name', 'AEA_Name', 'Grade_Range', 'School_Type',
       'School_Index', 'School_Rating_Category', 'ESSA_Support_Status',
       'Comprehensive_Decision', 'Targeted_Decision', 'Targeted_Subgroups',
       'School_Index_Source', 'Address1', 'Address2', 'City', 'State', 'ZIP',
       'Phone', 'Fax', 'Website', 'Email', 'School_Administrator_Name',
       'School_Administrator_Title', 'Count_Male', 'Percent_Male',
       'Count_Female', 'Percent_Female', 'Count_EL', 'Percent_EL', 'Count_FRL',
       'Percent_FRL', 'Count_IEP', 'Percent_IEP', 'Count_Asian',
       'Percent_Asian', 'Count_Black', 'Percent_Black', 'Count_PacIs',
       'Percent_PacIs', 'Count_Hispanic', 'Percent_Hispanic', 'Count_Multi',
       'Percent_Multi', 'Count_NatAm', 'Percent_NatAm', 'Count_White',
       'Percent_White', 'Count_Foster_Care', 'Percent_Foster_Care',
       'Count_Military_Connected', 'Percent_Military_Connected',
       'Count_Migrant', 'Percent_Migrant', 'Count_Homeless',
       'Percent_Homeless', 'Count_All_Students', 'Count_NonBinary',
       'Percent_NonBinary', 'Index_EL', 'Index_FRL', 'Index_IEP',
       'Index_Asian', 'Index_Black', 'Index_PacIs', 'Index_Hispanic',
       'Index_Multi', 'Index_NatAm', 'Index_White'],
      dtype='object')

#### Looks like a lot of Columns. All of the columns seem to be pretty succinct and clear in what they represent, which is helpful, so renaming columns will likely be unnecessary, but it is likely that many columns will need to be consolidated/removed.

### Looking at a quick statistical summary of the numeric columns included in the Dataset.

In [6]:
df.describe()

,School_Code,District_Code,School_Index,Phone,Fax,Count_Male,Percent_Male,Count_Female,Percent_Female,Count_EL,...,Index_EL,Index_FRL,Index_IEP,Index_Asian,Index_Black,Index_PacIs,Index_Hispanic,Index_Multi,Index_NatAm,Index_White
count,1.295000e+03,1295.000000,1295.000000,1.295000e+03,1.260000e+03,1295.000000,1295.000000,1295.000000,1295.000000,1295.000000,...,174.000000,1074.000000,609.000000,83.000000,207.000000,11.000000,360.000000,152.000000,6.000000,1153.000000
mean,3.506281e+07,3506.248649,54.808502,5.414292e+09,5.472348e+09,191.219305,51.565869,180.453282,48.394131,25.654826,...,45.710862,51.354460,44.714072,58.528313,45.729130,39.754545,51.351750,49.735197,45.050000,55.652966
std,2.209044e+07,2209.045196,5.766200,1.423977e+09,1.456026e+09,150.739987,3.927503,143.223652,3.915618,52.860251,...,5.243067,5.902584,6.292140,8.405256,6.245073,5.973400,5.823227,6.819011,4.373374,5.566382
min,9.010900e+04,9.000000,23.010000,3.192243e+09,3.192197e+09,2.000000,26.700000,2.000000,11.000000,0.000000,...,26.080000,21.930000,24.580000,38.730000,24.260000,29.600000,33.450000,31.420000,39.860000,22.330000
25%,1.589030e+07,1589.000000,51.555000,5.152427e+09,5.152441e+09,103.000000,49.600000,97.000000,46.300000,1.000000,...,42.645000,48.200000,40.840000,52.265000,41.585000,36.020000,47.760000,45.352500,42.135000,52.250000
50%,3.204041e+07,3204.000000,55.240000,5.633824e+09,5.634456e+09,159.000000,51.500000,146.000000,48.400000,5.000000,...,45.825000,51.455000,44.740000,58.210000,45.900000,38.740000,51.240000,49.620000,44.665000,55.940000
75%,5.607019e+07,5607.000000,58.455000,6.418323e+09,6.418735e+09,231.000000,53.600000,218.000000,50.300000,25.000000,...,49.067500,55.050000,48.690000,64.285000,49.865000,43.480000,55.110000,54.355000,47.330000,59.200000
max,8.100010e+07,8100.000000,76.530000,7.129993e+09,8.669909e+09,1208.000000,89.000000,1237.000000,73.300000,482.000000,...,60.720000,71.020000,66.940000,77.930000,60.150000,49.990000,76.870000,65.850000,51.600000,75.120000

#### For most of the columns like School_Code, District_Code, Sub_measure and the Numerator and Denominator Scores, those don't tell too much, but the School_Index and the Percentages of Females and Male students (and the measures of variation of each) as well as some of the other metrics will be helpful.

### Looking at the overall shape of the dataframe to get an idea of how many rows and columns are included.

In [7]:
df.shape

(1295, 71)

#### This is a larger dataset with over 1,300 entries. Because each row seems to correspond to a specific school in the Iowa Public School district, I would need to be very careful about how I will handle any columns with 'NAN' values, as that can skew the data.

In [8]:
df.dtypes

Reporting_Year     object
School_Code         int64
School_Name        object
District_Code       int64
District_Name      object
                   ...
Index_PacIs       float64
Index_Hispanic    float64
Index_Multi       float64
Index_NatAm       float64
Index_White       float64
Length: 71, dtype: object

### It looks like there is a mix of different data types in this dataset, which is helpful and should allow for the ability to glean more complex and varied information.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1295 entries, 0 to 1294
Data columns (total 71 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Reporting_Year              1295 non-null   object
 1   School_Code                 1295 non-null   int64
 2   School_Name                 1295 non-null   object
 3   District_Code               1295 non-null   int64
 4   District_Name               1295 non-null   object
 5   AEA_Name                    1295 non-null   object
 6   Grade_Range                 1295 non-null   object
 7   School_Type                 1295 non-null   object
 8   School_Index                1295 non-null   float64
 9   School_Rating_Category      1295 non-null   object
 10  ESSA_Support_Status         1295 non-null   object
 11  Comprehensive_Decision      1295 non-null   object
 12  Targeted_Decision           1295 non-null   object
 13  Targeted_Subgroups          348 non-null    object
 14  School_Index_Source         119 non-null    object
 15  Address1                    1295 non-null   object
 16  Address2                    67 non-null     object
 17  City                        1295 non-null   object
 18  State                       1295 non-null   object
 19  ZIP                         1295 non-null   object
 20  Phone                       1295 non-null   int64
 21  Fax                         1260 non-null   float64
 22  Website                     1063 non-null   object
 23  Email                       1295 non-null   object
 24  School_Administrator_Name   1295 non-null   object
 25  School_Administrator_Title  1295 non-null   object
 26  Count_Male                  1295 non-null   int64
 27  Percent_Male                1295 non-null   float64
 28  Count_Female                1295 non-null   int64
 29  Percent_Female              1295 non-null   float64
 30  Count_EL                    1295 non-null   int64
 31  Percent_EL                  1295 non-null   float64
 32  Count_FRL                   1295 non-null   int64
 33  Percent_FRL                 1295 non-null   float64
 34  Count_IEP                   1295 non-null   int64
 35  Percent_IEP                 1295 non-null   float64
 36  Count_Asian                 1295 non-null   int64
 37  Percent_Asian               1295 non-null   float64
 38  Count_Black                 1295 non-null   int64
 39  Percent_Black               1295 non-null   float64
 40  Count_PacIs                 1295 non-null   int64
 41  Percent_PacIs               1295 non-null   float64
 42  Count_Hispanic              1295 non-null   int64
 43  Percent_Hispanic            1295 non-null   float64
 44  Count_Multi                 1295 non-null   int64
 45  Percent_Multi               1295 non-null   float64
 46  Count_NatAm                 1295 non-null   int64
 47  Percent_NatAm               1295 non-null   float64
 48  Count_White                 1295 non-null   int64
 49  Percent_White               1295 non-null   float64
 50  Count_Foster_Care           1295 non-null   int64
 51  Percent_Foster_Care         1295 non-null   float64
 52  Count_Military_Connected    1295 non-null   int64
 53  Percent_Military_Connected  1295 non-null   float64
 54  Count_Migrant               1295 non-null   int64
 55  Percent_Migrant             1295 non-null   float64
 56  Count_Homeless              1295 non-null   int64
 57  Percent_Homeless            1295 non-null   float64
 58  Count_All_Students          1295 non-null   int64
 59  Count_NonBinary             1295 non-null   int64
 60  Percent_NonBinary           1295 non-null   float64
 61  Index_EL                    174 non-null    float64
 62  Index_FRL                   1074 non-null   float64
 63  Index_IEP                   609 non-null    float64
 64  Index_Asian                 83 non-null     float64
 65  Index_Black                 207 non-null    float64
 66  Index_PacIs                 11 non-null     float64
 67  Index_Hispanic              360 non-null    float64
 68  Index_Multi                 152 non-null    float64
 69  Index_NatAm                 6 non-null      float64
 70  Index_White                 1153 non-null   float64
dtypes: float64(29), int64(21), object(21)
memory usage: 718.4+ KB

#### This gives some great information about how many columns include 'Null Values'. It looks like the majority of the columns one would hope and expect to have entries do have full sets of non-null data. The columns that are missing data include Targeted Subgroups, School_Index_Source, Address 2, Phone, Website, and several columns related to an Index Score for particular populations of Students.

#### From the included documentation, that Index_Score is left blank when there are not enough students in that demographic that attend the particular school to result in there being an index score. Since that is the case, because there are a substantial number of schools that are missing several of these indexes, all of those columns should be assigned an Index Score of Zero, since the values seem to be between 1-100. Those index scores, when reported, will likely provide information. The other columns mentioned above, would not provide relevant information for this Data Analysis, so they will likely be omitted.